{{#if (ability.name == 'bold')}}
    {{#if ability.trigger == 'Reap'}}
this.reap({
    {{else if ability.trigger == 'Fight'}}
this.fight({
    {{else if ability.trigger == 'Destroyed'}}
this.destroyed({
    {{else if ability.trigger == 'Play'}}
this.play({
    {{else if ability.trigger == 'Omni'}}
this.omni({
    {{else if ability.trigger == 'Before Fight'}}
this.beforefight({
    {{else if ability.trigger == 'Action'}}
this.action({
    {{else}}
this.unknown( //{{ ability.trigger }}
    {{/if}}
    gameAction: {{>ability ability=ability.effect}}
});
{{else if ability.name == 'keywords'}}
//Keywords: {{ ability.keywords.join(", ") }}
{{else if ability.name == 'gainAmber'}}
ability.actions.gainAmber((context) => ({
    amount: {{ ability.quantity }},
    {{#if ability.target === 'opponent') }}
    target: context.player.opponent
    {{/if}}
}))
{{else if ability.name == 'stealAmber'}}
    ability.actions.steal((context) => ({
        amount: {{ ability.quantity  }},
        {{#if ability.target === 'opponent'}}
        target: context.player.opponent
        {{/if}}
    }))
{{else if ability.name == 'loseAmber'}}
ability.actions.loseAmber((context) => ({
    amount: {{ ability.quantity }},
    {{#if ability.target !== 'opponent'}}
    target: context.player //{{ ability.target }}
    {{/if}}
}))
{{else { }}
    {{#each JSON.stringify(ability, null, 1).split(/[\r\n]/)) }}
        //{{this}}
    {{/each}}
{{/if}}